parameters:
    parallel:
        processTimeout: 1200.0

    paths:
        - src

    # The level 9 is the highest level
    level: 5

    ignoreErrors:

    excludePaths:

    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: true
